        </div>
        <div id="footer">
            <div id="blackf">
            </div>
            <div id="greenf">
            </div>
            <div id="lgreenf">
                <div class="bottomImg" id = "bozon"> </div>
                <div class="bottomImg" id = "fundacjaAGH"> </div>
                <span id="cpyright">© Mateusz Hurbol, Mateusz Kłeczek, Piotr Kotara, Rafał Pochopień</span>
            </div>
            <div id="greenf3">
            </div>
             <div id="redf">
            </div>
            <div id="greenf2">
            </div>
        </div>
    </div>
</body>