 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>S.H.I.EL.D of AGH</title>
    <link href="https://fonts.googleapis.com/css?family=Jura|Lato|Anonymous+Pro" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/mobile.css"/>
    <link rel="stylesheet" type="text/css" href="css/menuIcon.css"/>
    <script src="scripts/toggleMenu.js"></script>
 
</head>

<body>

<div id="container">
    <div id="header">
        <div id="title">
            S.H.I.EL.D. of AGH

             <div id="menuIcon" onclick="toggleMenu()">
                  <div class="bar1"></div>
                  <div class="bar2"></div>
                  <div class="bar3"></div>
             </div>

        </div>

        


        <div id="red">
            
        </div>
        <div id="black">
            
        </div>
        <div id="green">
            <a href="index.php">
                <div class="menuitem">
                    Strona główna
                </div>
            </a>
            <a href="index.php?page=history">
                <div class="menuitem">
                    O projekcie
                </div>
            </a>
            <a href="index.php?page=crew">
                <div class="menuitem">
                    Członkowie projektu
                </div>
            </a>
            <a href="index.php?page=mail">
                <div class="menuitem">
                    Kontakt
                </div>
            </a>
        </div>

        <div id="menu"> 
            <div class = "menubar">
                <a href="index.php">
                    <div class="menuitem">
                        <div class="menutext">Strona główna</div>
                    </div>
                </a>
            </div>
            <div class = "menubar">
                <a href="index.php?page=history">
                    <div class="menuitem black">
                        <div class="menutext">O projekcie</div>
                    </div>
                </a>
             </div>
            <div class = "menubar">
                <a href="index.php?page=crew">
                    <div class="menuitem green">
                        <div class="menutext">Członkowie projektu</div>
                    </div>
                </a>
             </div>
        </div>
    </div>
    <div id = "content">

