{% extends 'static/app.twig' %}

{% block head %}
    {% include 'static/head.twig' %}
{% endblock %}

{% block content %}
<div id="info">
    <div id="images">
    &nbsp;
    </div>
    <div id="text">
        <h1>Członkowie projektu</h1>
        <h2>TEAM 2</h2>
        <h3>Mateusz Hurbol</h3> 
        <p>W projekcie pełni rolę głównego programisty. Odpowiada za napisanie i&nbsp;przetestowanie oraz integracje z&nbsp;elektroniką aplikacji służącej do akwizycji danych odebranych z&nbsp;teleskopu i&nbsp;sterowania nim. </p>
        <p><b>Student informatyki</b> na Wydziale Informatyki Elektroniki i&nbsp;Telekomunikacji, który poza programowaniem interesuje się Astronomią, Futurystyką oraz Fantastyką. Uważa <a href="https://www.rust-lang.org/pl-PL/">Rust</a> za najlepszy język programowania</p>
        <h3>Mateusz Kłeczek</h3>
        <p>Pełni rolę kierownika projektu. Dba o&nbsp;to by komunikacja między poszczególnymi członkami zespołu przebiegała bez zakłóceń oraz zajmuje się przygotowywaniem stosownej dokumentacji technicznej i&nbsp;finansowej. Dodatkowo odpowiada za integrację systemów elektronicznych.</p>
        <p><b>Studiuje inżynierię mechatroniczną</b> na Wydziale Inżynierii Mechanicznej i&nbsp;Robotyki, interesuje się fizyką, elektroniką i&nbsp;biomechaniką. Jeżeli na czymś pisze nie dotykać to na pewno będzie chciał zajrzeć do środka.  </p>
        <h3>Piotrek Kotara</h3> 
        <p>W projekcie pełni rolę głównego administratora i&nbsp;specjalisty do spraw cyberbezpieczeństwa. Odpowiada za utworzenie i&nbsp;utrzymanie naszej strony internetowej oraz zdalny dostęp do danych badawczych. Ponadto pomaga w pracach nad układem akwizycji danych i&nbsp;sterowania.</p>
        <p>Interesuje się szeroko pojętymi naukami ścisłymi - za dnia <b>student informatyki</b> na Wydziale Informatyki Elektroniki i&nbsp;Telekomunikacji, wieczorami programuje, bawi się fizyką, matematyką, elektroniką... Jeśli coś ładnie świeci, ma dużo przycisków, strzela piorunami lub wybucha to na pewno go zainteresuje. </p>
        <h3>Rafał Pochopień</h3>
        <p>Jest głównym mechanikiem projektu. Zapewnia szeroko rozumiane wsparcie konstrukcyjne i&nbsp;mechaniczne. Dba o&nbsp;to by mechanizmy działały bezawaryjnie oraz przygotowuje stosowną dokumentację mechanizmów. </p>
<p><b>Student Mechaniki i&nbsp;Budowy Maszyn</b> na Wydziale Inżynierii Mechanicznej i&nbsp;Robotyki. Hobbystycznie interesuje się fizyką i&nbsp;lotnictwem. Jego powiedzenie to: „Bez podkładki to to nie robota”</p>
        <h2><a href="index.php?page=team1">Strona poświęcona TEAM 1</a></h2>
        </br>
        </br>
    </div>
</div>

{% endblock %}

{% block footer %}
    {% include 'static/footer.twig' %}
{% endblock %}