{% extends 'static/app.twig' %}

{% block head %}
    {% include 'static/head.twig' %}
{% endblock %}

{% block content %}
<div id="projName">
    <span class="initial">S</span>olar 
    <span class="initial">H</span>yperactivity 
    <span class="initial">I</span>ndigenous 
    <span class="initial">EL</span>&nbsp;ectromagnetic 
    <span class="initial">D</span>etector
</div>
<div id="info">
    <div id="images">

    </div>
    <div id="text">
        <h2>Witamy na stronie głównej projektu radioteleskopu Akademii Górniczo-Hutniczej im.&nbsp;Stanisława Staszica w Krakowie. </h2>
        </br>
        </br>
        </br>
          </br>
        </br>
        </br>
        <span id = "addendum">Projekt jest częścią SKNF Bozon.</span>
        <div id="mainImage">
            <img src="img/czaszaFade.PNG" alt="czasza" width="600">
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    {% include 'static/footer.twig' %}
{% endblock %}