{% extends 'static/app.twig' %}

{% block head %}
    {% include 'static/head.twig' %}
{% endblock %}

{% block content %}
<div id="info">
    <div id="images">
    &nbsp;
    </div>
    <div id="text">
        <h1>Kontakt</h1>
            <h2>E-mail projektu</h2>
                shield@student.agh.edu.pl
            <h2> E-maile członków projektu </h2>
            <ul>
                <li>Mateusz Kłeczek (Kierownik projektu): kleczek9@gmail.com
                <li>Piotr Kotara (Administrator): piotrekkotara@gmail.com
                <li>Mateusz Hurbol: mateusz.hurbol42@gmail.com
                <li>Rafał Pochopień: pochopienrafal@gmail.com
            </ul>
    </div>
</div>

{% endblock %}

{% block footer %}
    {% include 'static/footer.twig' %}
{% endblock %}