{% extends 'static/app.twig' %}

{% block head %}
    {% include 'static/head.twig' %}
{% endblock %}

{% block content %}
<div id="info">
    <div id="images">
    &nbsp;
    </div>
    <div id="text">
        <h1>TEAM 1</h1>
        Chcielibyśmy serdecznie podziękować członkom Team 1 w którego skład wchodzili:

        <ul>
            <li>Magdalena Olbromska
            <li>Paweł Kalabiński
            <li>Szymon Kuliś
            <li>Łukasz Tyrcha
            <li>Damian Wilczyński
        </ul>
        <br/>
        <p>
        Nie tylko przekazali nam szczegółową dokumentację techniczną wraz z całym sprzętem ale i przygotowali podwaliny projektu, który dumnie kontynuujemy.
        </p>
        <p>
        Pragniemy również podziękować osobiście Damianowi z powyższego zespołu za jego nieocenioną pomoc przy testach elektroniki oraz przebadanie jej za pomocą narzędzi nam niedostępnych.
        </p>
    </div>
</div>

{% endblock %}

{% block footer %}
    {% include 'static/footer.twig' %}
{% endblock %}